<% include header.ejs %>
<% include navList.ejs %>
<div class="jumbotron">
  <h1 class="text-center">mtwmy</h1>
  <h3><span class="label label-success ">终于搞的差不多了，还差评论功能，以后有时间再补</span></h3>
  <h3><span class="label label-success ">全手动搭建的个人博客，欢迎加友链</span></h3>
  <h3><span class="label label-success ">联系QQ:1005910519</span></h3>
  <h3><span class="label label-success ">记录以后学习的点点滴滴</span></h3>
</div>
<% include footer.ejs %>
