<% include header.ejs %>
<% include navList.ejs %>
<div class="jumbotron">
	<h1>jtwmy的微博</h1>
  	<div class="alert alert-success" role="alert"><p>人生的路，需要一步一步往前走，需要坚持不懈的努力与付出，世上本无过去不的阴影，只有过不去的心情，人生在这个世界上，必须要饱受风霜与挫折，最后才可以创造出天堂的力量，如果有谁告诉你，他用一天的时间获取了成功，那么，请你不要相信，世上本无捷径，成功从来不是偶然的。
  	</p></div>
  	<div class="alert alert-success" role="alert"><p>本网站采用Node.js+Express+MySQL+Bootstrap搭建</p></div>
  	<div class="alert alert-success" role="alert"><p>忙活了3天，终于把博客搭建起来了，目前的功能已经能投入使用了，还差一些次要的功能以后慢慢加上去，嘿嘿。</p></div>
  	<div class="alert alert-success" role="alert"><p>欢迎互加友链，联系QQ:1005910519</p></div>
</div>
<% include footer.ejs %>
