		<script src="/javascripts/jquery.min.js"></script>
		<script src="/javascripts/bootstrap.min.js"></script>
		<script src="/javascripts/addWheel.js"></script>
		<script src="/javascripts/index.js"></script>
	</body>
</html>
