<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="jtymy,ofeast.com,jtymy,前端，后端">
	<meta name="description" content="jtymy,前端，后端,ofeast.com">
	<meta name="author" content="jtymy">

    <title><%= data.title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>

