<!DOCTYPE html>
<html>
  <head>
    <title><%= data.title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>

