<div class="header">
    <ul id="navList" class="nav nav-pills">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/Not#Other">Other</a></li>
      <li><a href="/About#About">About</a></li>
    </ul>
</div>
