<div class="header">
    <ul id="navList" class="nav nav-pills">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="http://www.ofeast.cn:3001/">聊天室</a></li>
      <li><a href="/About#About">About</a></li>
    </ul>
</div>
